

body {
  height: auto;
  background: #000 url("images/reddit.jpg") no-repeat center center;
  background-size: cover;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.my-btn {
  margin-right: 5px;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: 300px;
  border: none;
  background: #000000;
  color: #D7DADC;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  transition: background 0.2s;
}

.my-btn:hover {
  background: #d68857;
}

.my-btn:active {
  filter: brightness(120%);
}

.my-btn.primary {
  background: #ff8400;
}

.my-btn.secondary {
  background: #eaa661;
}

.my-btn.execute {
  width: 110px;
  border-radius: 6px;
}

.result {
  white-space: nowrap;     
  overflow: hidden;        
  text-overflow: ellipsis;
  width: 220px;
  height: 50px;
  margin-bottom: 15px;
  padding-right: 10px;
  background: #343536;
  text-align: right;
  color: #D7DADC;
  font-size: 1.5rem;
}

select {
  background-color: #333;
  color: #fff; 
}

.goal {
  
  margin-top: 10px;
  line-height: 1.5;
  width: 100%;
}

mark {
  background: #ff6200;
  color: #000;
}

.generic {
  width: 270px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  place-items: center;
  background: #27272A;
  border-radius: 8px;
  padding: 20px;
}

.name {
  display: block;
  margin-right: 0px;
  margin-top: 50px;
  background: #343536;
  text-align: center;
  color: #D7DADC;
  font-size: 1.5rem;
  width: 370px;
}

summary {
  color: #D7DADC;
}

p {
  color: #D7DADC;
}

.footer{
  color: #030709;
  background-color: #d68857;
  text-align: center;
  margin-top: 50px;
}

.additional{
  color: #D7DADC;
  margin-top: 10px;
}

.gh {
  color: #D7DADC;
  text-align:right;
  margin-right: 40px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: left;
  padding: 10px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

header span {
  font-size: 16px;
  font-weight: bold;
}